.custom-container {
  
   
    border: 2px solid #ccc; /* Border style */
    padding: 20px; /* Padding inside the container */
    border-radius: 5px; /* Rounded corners */
}


.img-fluid {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f8f9fa;
}


.video-container {
    display: flex; 
}

.video-container video {
    width: 70%; 
}

.video-container .video-text {
    width: 30%; 
    padding-left: 20px;
}

p {
    text-align: justify;
}
.button-fade {
    display: none; 
  }

  .huge-button {
    width: 1150px;
    height: 100px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.huge-button:hover {
    background-color: #45a049;
}
